.main {
    width: 100vw;
    height: 100vh;     
    display: flex;  
    /* background-color: rgb(17, 21, 21); */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}